@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #757DA9, #3F4464);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0F2232;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #FFC857;
    text-align: center;
    text-shadow: 1px 1px 2px #1f223269 ;
}

h2 {
    color: #0F2232;
}

p {
    text-align: justify;
}